<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/format.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/31d45fac70.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="wrapper">
    <div class="row menu">

            <div class="col-4 justify-content-center">
                <i class=" mt-1 fa-brands fa-airbnb " style="font-size:35px; "></i>
            </div>
            <div class="col-8">
                <nav class="navbar navbar-expand-sm navbar-light float-end">
                    <button class="float-end navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="float-end collapse navbar-collapse " id="navbarNavAltMarkup">
                        <div class="float-end  navbar-nav">
                            <a class="nav-item nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" href="#">ABOUT <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" href="#">CONTACT <span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </nav>
            </div>
    </div>
    <div class="banner">
        <div class="justify-content-center" id="banner-text">
            <strong>
                <p class="text-center" style="font-size:20px;font-weight:bold "> Amelia Woods</p>
            </strong>
            <p class="text-center">
                I am a Graphic & Web Designer based in New York, specializing
                <br> in User Interface Design and
                Development
            </p>
        </div>

    </div>

    <div class="pb-5 item-content">
        <div class="d-flex flex-wrap justify-content-around">
            <div class="mt-5 d-flex flex-wrap">
                <div>
                    <i class="fa-solid fa-briefcase " style="font-size:35px; "></i>
                </div>
                <div class="icon-text">
                    <strong> 548</strong>
                    <p>
                        PROJECT COMPLETED
                    </p>
                </div>
            </div>

            <div class="mt-5 d-flex flex-wrap">
                <div>
                    <i class="fa-regular fa-clock " style="font-size:35px; "></i>
                </div>
                <div class="icon-text">
                    <strong> 1465</strong>
                    <p>
                        WORKING HOURS
                    </p>
                </div>
            </div>

            <div class="mt-5 d-flex flex-wrap">
                <div>
                    <i class=" fa-solid fa-star" style="font-size:35px; "></i>
                </div>
                <div class="icon-text" >
                    <strong> 612</strong>
                    <p>
                        PROJECT FEEDBACKS
                    </p>
                </div>
            </div>

            <div class="mt-5 d-flex flex-wrap">
                <div>
                    <i class="fa-regular fa-heart" style="font-size:35px; "></i>
                </div>
                <div class="icon-text">
                    <strong> 735</strong>
                    <p>
                        HAPPY CLIENTS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-banner">
        <h3 style="font-size:20px;font-weight:bold ">About me</h3>
        <p>
            Given let waters air sea had you'll, may seed abundantly fish.
            Were, you'll earth forth winged above brought. Own darkness they're him can't fourth sea place have.
        </p>
        <p>
            So the above May stars cattle fruitful face shall.Tree it, winged.
            Every signs male firmament us. Morning him.
        </p>
        <img src="../resources/images/about/sign.png" alt="sign">
    </div>
    <div class="contact">
        <div class="justify-content-center" id="footer-text" style="padding-top:5vw;">
            <strong>
                <p class="text-center" style="font-size:20px;font-weight:bold "> Needs a Project? </p>
            </strong>
            <p class="text-center" style="padding-top:2vw;">
                Let us know what you're looking for in an agency. We'll take a look and see
            </p>
            <p class="text-center" style="padding-top:2vw;">
                if this could be start of something beautiful
            </p>
            <button type="button" class="btn btn-primary btn-md"
                    style="margin-left:43vw;margin-top:5vw;margin-bottom: 5vw; background-color: #10c9c3;; border-color:#10c9c3; ">LET TALK</button>
        </div>
    </div>
    <div class="row footer" style="background-color:black; color:white;">
        <div class=" mt-4 col-3 d-flex flex-wrap justify-content-center"> <h2>
            Piroll Design, Inc,
        </h2>
            <p>
                @ 2017 Piroll. All right reserved.
            </p>
            <p>
                Designed by robirurk.
            </p>

        </div>
        <div class="mt-4  col-3 d-flex flex-wrap justify-content-center">
            <p>  heloo@pirolltheme.com</p>
            <p>+44 987 065 908 </p>
        </div>
        <div class="mt-4 col-3 d-flex flex-wrap justify-content-center">
            <div class="col-6 d-flex flex-wrap justify-content-center">
                <ul>
                    <li>Project </li>
                    <li>About </li>
                    <li> Services</li>
                    <li>Career </li>
                </ul>
            </div>
            <div class="col-6 d-flex flex-wrap justify-content-center">
                <ul>
                    <li>News </li>
                    <li>Events </li>
                    <li> Contact</li>
                    <li>Legals </li>
                </ul>
            </div>
        </div>
        <div class=" mt-4  col-3 d-flex flex-wrap justify-content-center">
            <ul>
                <li>Facebook</li>
                <li>Twitter </li>
                <li> Instagram</li>
                <li>Dribble</li>
            </ul>
        </div>

    </div>

</div>
</body>
</html>