<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Single</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/format.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/31d45fac70.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="wrapper">
    <div class="row menu">
        <div class="col-4 justify-content-center">
            <img class=" my-3 mx-3 img-responsive" src="../resources/images/logo.png">
        </div>
        <div class="col-8">
            <nav class="mr-3 navbar navbar-expand-sm navbar-light float-end">
                <button class="float-end navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="float-end collapse navbar-collapse " id="navbarNavAltMarkup">
                    <div class="float-end  navbar-nav">
                        <a class="nav-item nav-link active" href="home.html">HOME <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active" href="about.html">ABOUT <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active" href="contact.html">CONTACT <span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="background-color:rgb(239,239,239); ">
            <div class="carousel-inner">
                <div class="d-flex carousel-item active" >
                    <div style="background-color: white;"  class=" row ">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <div class="mt-5 text-left justify-content-center  body-description" style="height: auto; width: 100%;">
                                <p class="fw-bold fs-4"><strong>Slide 3  </strong></p>
                                <p class="pt-2">
                                    Divide have don't man wherein air fourth. Own itself make have night wont make<br>
                                    <br>
                                    A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                    <br>
                                    A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                    <br>
                                    A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                    <br>
                                    heaven fruit dominion she'd won't very all.
                                    <br>
                                    <br>
                                    <strong class="fw-bold">Client: </strong> Emma Morris
                                    <br>

                                    <strong class="fw-bold">Date: </strong> 25.06.2017
                                    <br>

                                    <strong class="fw-bold">Share: </strong> Facebook, Twitter, Pintertest
                                    <br>
                                </p>
                            </div>

                        </div>
                        <div class="col-4">
                            <img src="../resources/images/project-single/breakfast.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-2"></div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div style="background-color: white;"  class=" row ">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <div class="mt-5 text-left justify-content-center  body-description" style="height: auto; width: 100%;">
                                <p class="fw-bold fs-4"><strong>Slide 3  </strong></p>
                                <p class="pt-2">
                                    Divide have don't man wherein air fourth. Own itself make have night wont make<br>
                                    <br>
                                    A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                    <br>
                                    A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                    <br>
                                    A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                    <br>
                                    heaven fruit dominion she'd won't very all.
                                    <br>
                                    <br>
                                    <strong class="fw-bold">Client: </strong> Emma Morris
                                    <br>

                                    <strong class="fw-bold">Date: </strong> 25.06.2017
                                    <br>

                                    <strong class="fw-bold">Share: </strong> Facebook, Twitter, Pintertest
                                    <br>
                                </p>
                            </div>

                        </div>
                        <div class="col-4">
                            <img src="../resources/images/project-single/breakfast.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="background-color: white;"  class=" row ">
                        <div style="background-color: white;"  class=" row ">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <div class="mt-5 text-left justify-content-center  body-description" style="height: auto; width: 100%;">
                                    <p class="fw-bold fs-4"><strong>Slide 3  </strong></p>
                                    <p class="pt-2">
                                        Divide have don't man wherein air fourth. Own itself make have night wont make<br>
                                        <br>
                                        A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                        <br>
                                        A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                        <br>
                                        A you under Seed appear which good give. Own give air without fowl move dry first <br>
                                        <br>
                                        heaven fruit dominion she'd won't very all.
                                        <br>
                                        <br>
                                        <strong class="fw-bold">Client: </strong> Emma Morris
                                        <br>

                                        <strong class="fw-bold">Date: </strong> 25.06.2017
                                        <br>

                                        <strong class="fw-bold">Share: </strong> Facebook, Twitter, Pintertest
                                        <br>
                                    </p>
                                </div>

                            </div>
                            <div class="col-4">
                                <img src="../resources/images/project-single/breakfast.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button style="background-color: grey; "  class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button style="background-color: grey; " class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>





    <div class=" pt-4 pb-4 row footer" style="background-color:black; color:white;">
        <div class=" col-3 d-flex flex-wrap justify-content-center"><h2>
            Piroll Design, Inc,
        </h2>
            <p>
                @ 2017 Piroll. All right reserved.
            </p>
            <p>
                Designed by robirurk.
            </p>
        </div>
        <div class=" col-3 d-flex flex-wrap justify-content-center">
            <p> heloo@pirolltheme.com
                <br>
                <br> +44 987 065 908</p>

        </div>
        <div class=" col-3 d-flex flex-wrap justify-content-center">
            <div class="col-6 d-flex flex-wrap justify-content-center">
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-decoration-none text-light">
                        Project
                    </a>
                    </li>
                    <li><a href="#!" class="text-decoration-none text-light">
                        About
                    </a>
                    </li>
                    <li><a href="#!" class="text-decoration-none text-light">
                        Service
                    </a>
                    </li>
                    <li><a href="#!" class="text-decoration-none text-light">
                        Career
                    </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 d-flex flex-wrap justify-content-center">
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-decoration-none text-light">
                        News
                    </a>
                    </li>
                    <li><a href="#!" class="text-decoration-none text-light">
                        Events
                    </a>
                    </li>
                    <li><a href="#!" class="text-decoration-none text-light">
                        Contact
                    </a>
                    </li>
                    <li><a href="#!" class="text-decoration-none text-light">
                        Legals
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" col-3 d-flex flex-wrap justify-content-center">
            <ul class="list-unstyled">
                <li><a href="#!" class="text-decoration-none text-light">
                    Facebook
                </a>
                </li>
                <li><a href="#!" class="text-decoration-none text-light">
                    Twitter
                </a>
                </li>
                <li><a href="#!" class="text-decoration-none text-light">
                    Instagram
                </a>
                </li>
                <li><a href="#!" class="text-decoration-none text-light">
                    Dribble
                </a>
                </li>
            </ul>
        </div>

    </div>

</div>
</body>
</html>