#banner{
    position: relative;
}

body{
    padding: 0;
    margin: 0;
}
html{
    padding: 0;
    margin: 0;
}
#banner-text{
    background-image: url(../images/banner1.jpg);
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:auto;
    padding:10%;
    color:white;
}
.item-content{
    background-color:#10c9c3;
    height:auto;
}
.icon-text{
    margin-left:10px;
}
.body-banner{
    background-color: #f5f5f5 ;
    background-image: url(../images/About.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height:auto;
    padding:10% 10% 10% 60%;
}
.body-banner-text{
    margin-top:12%;
}